.text-decorator-none{
    text-decoration: none;
}

.atualizar1{

    background-color:#5e400a !important;
    color:white !important;
}
.deletar{

    background-color:#5e400a !important;
    color:white !important;
}