.box1{
    background-color: #724407;
     height :120px;
}

.box2{
     background-color: #161007;
      height: 60px;
}

.redes{
    font-size: 60px !important;
     color: white;
}
.textos{
     color: white;
}
.footer{
     background:#5e400a;
}